[core]
	autoCRLF = false
[user]
	email = kazuhiko.hrmt@gmail.com
	name = kazuhikoh
[color]
	ui = true
[alias]
	st = status
	br = branch
	co = checkout
	log = log --graph --decorate
	
[push]
	default = simple

