[user]
	email = kazuhiko.hrmt@gmail.com
	name = kazuhikoh
[alias]
	st = status
	br = branch
	co = checkout
	cl = clean
	log = log --graph --decorate
[core]
	editor = vim
	autoCRLF = false
	preloadindex = true
	fscache = true
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[ghq]
	root = ~/.go/src

