[user]
	email = kazuhiko.hrmt@gmail.com
	name = kazuhikoh
[alias]
	st = status
	br = branch
	co = checkout
	coo = !git branch | fzf | xargs git checkout
	up = !git push -u origin HEAD
	cl = clean
	log = log --graph --decorate
[core]
	editor = vim
	autoCRLF = false
	preloadindex = true
	fscache = true
[pager]
  branch = false
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[ghq]
	root = ~/go/src

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
