export PAGER=less
export LESS='-iNMRj.5'

export EDITOR=vim
export GIT_EDITOR=vim

# User Command
export PATH=$PATH:~/bin

# fzf (https://github.com/junegunn/fzf)
# Installation using ghq
# % ghq get https://github.com/junegunn/fzf.git
# % ln -s $(ghq list --full-path | grep junegunn/fzf) ~/.fzf
# % ~/.fzf/install
if   [ ! -z "${ZSH_VERSION}" ]; then
  [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
elif [ ! -z "${BASH_VERSION}" ] && [ "${BASH##*/}" == "bash" ]; then
  [ -f ~/.fzf.bash ] && source ~/.fzf.bash
fi

################################################################
# golang

export GOROOT=/usr/local/go
export GOPATH=$HOME/.go
export PATH=$PATH:$GOROOT/bin
export PATH=$PATH:$GOPATH/bin

## syndbg/goenv
export GOENV_ROOT="$HOME/.ghq/github.com/syndbg/goenv"
export PATH="$GOENV_ROOT/bin:$PATH"

if [ -d "$GOENV_ROOT" ]; then
  eval "$(goenv init -)"
else
  echo "Please clone syndbg/goenv to $GOENV_ROOT" >&2
fi

################################################################
# Python

# pyenv/pyenv
export PYENV_ROOT="$HOME/.ghq/github.com/pyenv/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

if [ -d "$PYENV_ROOT" ]; then
  eval "$(pyenv init -)"
else
  echo "Please clone pyenv/pyenv to $PYENV_ROOT"
fi

################################################################
# Java

# jenv (http://www.jenv.be/)
# Java environment manager
if [[ -d $HOME/.jenv/bin ]]; then
  export PATH="$HOME/.jenv/bin:$PATH"
  eval "$(jenv init -)"
else
  echo "Please clone gcuisinier/jenv to ~/.jenv" >&2
fi

# sdkman (sdkman.io)
# THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="/home/kazuhiko/.sdkman"
[[ -s "/home/kazuhiko/.sdkman/bin/sdkman-init.sh" ]] && source "/home/kazuhiko/.sdkman/bin/sdkman-init.sh"

################################################################
# Node.js

# nodebrew (https://github.com/hokaccha/nodebrew)
# Node.js version manager
export PATH=$HOME/.nodebrew/current/bin:$PATH
